<div class="login-container">
  <h2>Iniciar sesión 🔐</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      placeholder="usuario@correo.com"
    />
    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error">
      <div *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">Debe ser un correo válido.</div>
    </div>

    <label for="password">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      placeholder="••••••"
    />
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
      
    </div>

    <div class="forgot-password">
      <a routerLink="/recuperar-password">¿Olvidaste tu contraseña?</a>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
