<div class="container-books">
  <h1>Libros</h1>
  <div class="filter-section">
    <div class="filter-item">
      <label for="filtroCategoria">Categoría</label>
      <select id="filtroCategoria" [(ngModel)]="categoria" (change)="getSelection()">
        <option value="">Todas las categorias</option>
        @for (Category of Categories; track Category){
        <option value="{{Category}}">{{Category}}</option>
        }
      </select>
    </div>
    <div class="filter-item">
      <label for="filtroEstado">Estado</label>
      <select id="filtroEstado" [(ngModel)]="state" (change)="getState()">
        <option value="" selected>Todos los estados</option>
        <option value="ACTIVO">Activo</option>
        <option value="INACTIVO">Inactivo</option>
      </select>
    </div>
    <div class="filter-item">
      <label for="filtroFecha">Fecha de publicación</label>
      <input type="number" name="anio" id="filtroFecha" [(ngModel)]="year" min="1900" max="2024" (change)="getYear()">
    </div>
    <div class="filter-item">
      <button class="btn btn-primary" (click)="addBook()">Agregar libro</button>
    </div>
    <div class="filter-item">
      <button class="btn btn-primary" (click)="openReportModal()">Generar reporte</button>
    </div>
  </div>
  @if (loading){
  <p>Cargando...</p>
  }
  @if (error){
  <p class="error">{{ error }}</p>
  }
  <div class="table-container">
    @if (!loading && !error && Books.length>0){
    <table class="books-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Categoría</th>
          <th>ISBN</th>
          <th>Fecha de publicación</th>
          <th>Editorial</th>
          <th>Stock</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (Book of Books; track Book.codeBook){
        <tr>
          <td>{{Book.title }}</td>
          <td>{{Book.category}}</td>
          <td>{{Book.isbn}}</td>
          <td>{{Book.publicationDate | date: "dd-MM-yyyy"}}</td>
          <td>{{Book.publisher}}</td>
          <td>{{Book.stockTotal}}</td>
          <td>
            <span [ngClass]="{
                  'badge' : true,
                  'active' : Book.state === 'ACTIVO',
                  'inactive' : Book.state === 'INACTIVO'
                }">
              {{Book.state}}
            </span>
          </td>
          <td class="actions">
            <button class="btn-edit" (click)="editBook(Book)">✏️</button>
            <button class="btn-delete" (click)="openDeleteModal(Book)">🗑️</button>
            <button class="btn btn-outline-info" (click)="openDetailModal(Book)">Ver Detalles</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>

<app-modal [isVisible]="showModal" [editMode]="editMode" [bookData]="selectedBook" [categories]="Categories"
  (close)="closeModal()" (save)="handleSave($event)">
</app-modal>

<app-modal-report-book [isVisible]="showReportModal" (close)="closeReportModal()">

</app-modal-report-book>
<app-modal-delete *ngIf="showDeleteModal" [book]="bookDelete" (close)="closeDeleteModal()"
  (confirm)="confirmDelete($event)">
</app-modal-delete>

<app-det-modal-book [showModal]="showDetailModal" [selectedBook]="selectedBookDetail" (closeModal)="closeDetailModal()">
</app-det-modal-book>