$header-height: 56px;
$sidebar-width: 240px;
$primary-color: #2c3e50;
$font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$breakpoint: 768px;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: $primary-color;
  color: white;
  padding: 0 1rem;
  font-size: 20px;
  font-family: $font-family;
  .profile-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
  }

  .header-item {
    display: flex;
    align-items: center;
    font-size: 48px;
    span{
      font-size: 24px;
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;

    @media (max-width: $breakpoint) {
      display: block;
    }
  }
}

.container-main {
  display: flex;
  height: calc(100vh - #{$header-height});
}

.sidebar {
  position: fixed;
  top: $header-height;
  left: 0;
  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  background-color: $primary-color;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;

  @media (max-width: $breakpoint) {
    position: fixed;
    top: $header-height;
    left: 0;
    height: calc(100vh - #{$header-height});
    transform: translateX(-100%);
    &.visible {
      transform: translateX(0);
    }
  }
}

  ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #cbc9c9;
    text-decoration: none;
    border-radius: 4px;
    font-family: $font-family;
    font-size: 18px;

    &.active{
      background-color: #1e88e5;
      color: white;
      font-weight: bold;
    }
  }


main {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
  margin-left: $sidebar-width;

  @media (max-width: $breakpoint) {
    margin-left: 0;
  }
}
