<div class="container-users">
  <h1>Usuarios</h1>
  <div class="table-container">
    @if (loading){
      <p>Cargando...</p>
    }
    @if (error){
      <p class="error">{{ error }}</p>
    }
    @if (!loading && !error && users.length > 0){
      <table class="users-table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>DNI</th>
          <th>Fecha de registro</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
          @for (User of users; track User.idUsuario){
            <tr>
              <td>{{User.name}}</td>
              <td>{{User.lastname}}</td>
              <td>{{User.email}}</td>
              <td>{{User.phone}}</td>
              <td>{{User.address}}</td>
              <td>{{User.dni}}</td>
              <td>{{User.dateRegistered}}</td>
              <td>
                <span class="user-role">{{User.roleName}}</span>
              </td>
              <td>
                <span [ngClass]="{
                  'badge': true,
                  'active': User.state,
                  'inactive': !User.state
                }">
                  {{User.state}}
                </span>
              </td>
              <td class="actions">
                <button class="btn-edit">✏️</button>
                <button class="btn-delete">🗑️</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</div>
