<h1>Prestamos</h1>
<div class="container-prestamos">
  <div class="container-filter">
    <div class="filter-item">
      <label for="fecha">Fecha Del Prestamo</label>
      <input type="date" name="fecha" id="fecha" />
    </div>
    <div class="filter-item">
      <label for="dniSear">Por DNI</label>
      <input type="search" name="searDni" id="dniSear" placeholder="Buscar por dni..." [(ngModel)]="dni"
        (change)="getAllByUser()" />
    </div>
    <div class="filter-btn">
      <button class="btn" (click)="addPrestamo()">Nuevo prestamo</button>
    </div>
  </div>

  <div class="container-table">
    @if (!error && prestamos.length>0) {
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Libros Prestados</th>
          <th>Fecha Prestamo</th>
          <th>Fecha Devolucion</th>
          <th>Nombre bibliotecario</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (prest of prestamos;track prest.idLean){
        <tr>
          <td>{{prest.username}}</td>
          <td>{{prest.booksQuantity}}</td>
          <td>{{prest.loanDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{prest.devolutionDate | date: 'MMM d, yyyy'}}</td>
          <td>{{prest.librarianName}}</td>
          <td>
            <span [ngClass]="{
                'badge': true,
                'active': prest.state === 'PRESTADO',
                'returned': prest.state === 'DEVUELTO',
                'inactive': prest.state === 'CANCELADO',
              }">
              {{prest.state}}
            </span>
          </td>
          <td>
            <button class="btn-edit" (click)="edit(prest)">✏️</button>
            <button class="btn-delete" type="button" (click)="deletePrestamo(prest.idLean)">🗑️</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
<app-modal-prestamo [isVisible]="showModal" [prestUpdate]="prestaUpdate" [edit]="editar" (close)="closeModal()"
  (save)="save($event)" />
